@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

@use "base/reset";
@use "base/typography";

// Components
@use "components/header";
@use "components/logo";
@use "components/hero";
@use "components/form";
@use "components/tabs";
@use "components/buttons";
@use "components/decorations";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: $font-family;
}

.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-background;

  overflow: hidden;

  // Mobile first
  background: url($bg-page-image-png) $bg-page-fallback $bg-page-position-mobile /
    $bg-page-mobile $bg-page-repeat;
  background: url($bg-page-image-webp) $bg-page-fallback
    $bg-page-position-mobile / $bg-page-mobile $bg-page-repeat;

  @include desktop {
    background: url($bg-page-image-png) $bg-page-fallback
      $bg-page-position-desktop / $bg-page-desktop $bg-page-repeat;
    background: url($bg-page-image-webp) $bg-page-fallback
      $bg-page-position-desktop / $bg-page-desktop $bg-page-repeat;
  }
}

.overlay-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 146.965px;
  z-index: 1;

  background: $gradient-dark-top;
  mix-blend-mode: $overlay-blend-mode;
  pointer-events: none;

  @include desktop {
    height: 521px;
  }
}
